hi {
    font-size: 36px;
    font-family: sans-serif, Georgia, 'Times New Roman', Times;
    color: blueviolet;
    padding: 16px;
    border-block-end: 2px solid black;
    margin: 20;
}
h3 {
    font-size: 32px;
    font-family: serif;
    color: red;
    border: dotted;
}
.container {
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255,123,202);
    font-size: 32px;
}
.nav {
    color: #ffffff;
    font-family: serif;
    font-size: 28px;
    margin: 0;
    padding: 16px;
}
p {
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 16px;
    border: 4px solid black;
}
li {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    display: inline;
    margin: 0;
    padding-block-end: 
}
image {
    background-image: ("https://www.gettyimages.com/detail/photo/watch-royalty-free-image/171585756");
    background-size: cover;
    background-position: center;
}